* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}



.titular {
    font-size: 24px;
    padding: 20px;
}

.textos {
    font-size: 16px;
    opacity: 0%;
    transition: opacity, 0.9s;
}



.elementoLista {
    text-decoration: none;
}

/*Fin Global*/


/* Inicio  Header*/

header {
    background-color: #eac926;
    padding: 20px;
}

header p {
    margin-top: 10px;

}

header nav {
    font-size: 12px;
    margin-top: 10px;
    display: none;
}

header ul {
    margin-top: 10px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.barraBusqueda {
    text-align: center;
    display: flex;
    align-items: center;
    width: 50%;

}

.top-header {
    display: flex;
    flex-wrap: wrap;
}

.centrado {
    text-align: center;
}

.hamburgesaHeader {
    text-align: center;
}

.hamburgesaHeader i {
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;

}

.logo {
    width: 50%;
    padding: 10px;
}


.elementos-lista {
    display: none;
    transition: display, 0.2;

}


/*Fin de Header*/






/* inicio MAIN*/

main {
    margin: 0 auto;
    width: 90%;

}


main section article {
    margin-top: 10px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    padding: 15px;
    

}

.contenedorArticulo {
    border-top: 1px solid #ebebeb;
    background-color: white;
    width: 100%;
    height: 100px;
    flex-direction: column;
    position: relative;

}


.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: transform ,0.8s ;
}

/* .camion{
    color:#39b54a;
    border-radius: 50%;
    border:solid 1px #39b54a;
    width: 25px;
    height: 25px;
    padding: 5px;
    
} */



.precios {
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
    width: 40px;
    display: inline-block;


}

.textos {
    margin-bottom: 10px;
    font-size: 16px;
    display: none;
}

.descuentos {
    color: #39b54a;
    width: 70px;
    display: inline-block;
    margin-left: 40px;

}




/* fin MAIN*/





/*Inicio footer*/
footer p {
    text-align: center;
    padding: 10px;
}

footer h2 {
    text-align: center;
    padding: 10px;
}

footer {
    background-color: white;
    margin-top: 20px;
}


.fa-credit-card {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;
}

.fa-gift {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;

}

.fa-user-shield {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;

}

.centerFooter {
    text-align: center;
}

/*Fin  footer*/




/*-----------------Login html-----------------*/

.formulario {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;

}


.formulario input {
    display: block;
}

#CategoriaInteres {
    display: inline-block;

}

#PerfilUsuario {
    display: inline-block;
}


/*----------------- CSS LOGIN----------------------------*/

.login {
    background-color: #ebebeb;
}

.login input {
    display: block;
}












@media (min-width: 361px) {
    .textos {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header nav {
        display: block;
    }

    header nav {
        display: block;
    }


    .hamburgesaHeader {
        display: none;
    }

    main section div.productosASD {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    main section div.productosASD article {
        width: 45%;
    }

    .textos {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }



}

@media (min-width: 769px) {
    main section div.productosASD article {
        width: 25%;
    }

    .descuentos {
        width: 40%;
        /* margin-top: 10px */
    }

    .elementos-lista {
        display: flex
    }

    .header-769 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        width: 50%;
    }


    .fa-search {
        background-color: #ebebeb;
        padding: 4px;
    }


    .centrado {
        margin-top: 5px;
        margin-right: 20px;
    }

    .elementos-lista{
        display: flex;
        justify-content: space-between;
    }

    .menu1 nav ul{
        display: flex;
        
        
    }

    .menu1 nav ul li{
        padding: 0px 5px;
    }

    .menu2 nav ul{
        display: flex;
    }

    .menu2 nav ul li{
        padding: 0px 5px;
    }

    .textos {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }

}

@media (min-width: 1280px){

    main section article:hover .textos{
       opacity: 100%;
   } 
    
   main section article{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow , 0.2s;
} 
  

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }

    main section article:hover .camion{
    transform: rotateZ(-90deg)
 }












.elementos-footer{
    margin-top: 10px;
    display: flex;
}

.centerFooter{
    margin-top: 20px;
}

.copyRight{
    float: left;
}


.fa-credit-card {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;
    transition: color, 0.5s;
}

.fa-gift {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;
    transition: color, 0.5s;

}

.fa-user-shield {
    font-size: 2rem;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;
    transition: color, 0.5s;
}

.fa-credit-card:hover{
    color: #39b54a;
}

.fa-gift:hover{
    color: #39b54a;
}

.fa-user-shield:hover{
    color: #39b54a;
}


} 